@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  padding: 0;
}
body {
  background-color: #000000;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #000000;
  border-radius: 5px;
}
.textarea::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
  border-radius: 2px;
}

.element {
  width: calc(100vw - 306px);
}
.element2 {
  width: calc(100vw - 300px);
}